body {
    background-color: #111;
    display: flex;
    justify-content: center;
}

.container {
    background-color: white;
    width: 800px;
    padding: 20px;
    border: 4px solid red;
}

h1 {
    border: 4px solid red;
    padding: 20px;
}

.box {
    border: 4px solid red;
    padding: 20px;
    margin-top: 20px;
}

.list-box {
    border: 4px solid red;
    padding: 20px;
    margin-top: 20px;
}

.list-box li {
    border: 4px solid red;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    border: 4px solid red;
    padding: 5px 10px;
    background-color: white;
}

a {
    border: 4px solid red;
    padding: 5px 10px;
}
